/* @import '../fonts/fontawesome-all.min.css'; */

@font-face {
    font-family: lato-bold;
    src: url('../fonts/Lato-Bold.ttf');
}
@font-face {
    font-family: eurof35;
    src: url('../fonts/eurof35.ttf');
}
@font-face {
    font-family: RammettoOne;
    src: url('../fonts/RammettoOne-Regular.ttf');
}
* {
    margin: 5px;
}

body{
    margin: 0;
    background-color: rgb(66, 160, 82)
}
header {
    font-size: 65px;
    text-align: center;
    background-color: blue;
    font-family: RammettoOne;
}
/* 
 #myCanvas {
    position: relative;
    left: 50%;
    top: 50%; 
}  */

.flex {
    display: flex;
    height: 400px;
    justify-content: center;
}

.line-num {
    font-size: 25px;
}

button {
    margin-right: 20px;
    /* display: block; */
}

.btns1 {
    margin-bottom: 20px;
}
 
.baby{
    margin-right: 20px;
}
